html, body {
    height: 100%;
}

body {
    font-family: Verdana;
    /*background-color: #ffffff;*/
}

#topwrapper {
    /*height: 64px;*/
    width: 100%;
}

#topbar {
    position: fixed;
    top: 0;
    /*border-top: 1px solid #00B4FF;
    border-bottom: 1px solid #00B4FF;*/
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: inherit;
    background-color: #242424;
}

#topbar a {
    text-decoration: none;
}

#logowrapper {
    width: 35%;
    float: left;
    height: auto;
}

#navbarwrapper {
    width: 65%;
    float: left;
    height: auto;
}

ul.navbar {
    list-style-type: none;
    text-align: center;
    margin: 0 30px 0 0;
    padding: 0;
    width: auto;
    float: right;
}

ul.navbar li {
    display: inline-block;
    text-align: center;
}

ul.navbar a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 23px 18px 22px 18px;
}

ul.navbar a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#logo {
    float: left;
    text-align: center;
    font-size: 36px;
    text-shadow: -2px -1px #000000;
    color: #ff9500;
    padding: 10px;
    width: auto;
    vertical-align: top;
    margin-left: 15px;
}

#contentwrapper {
    height: 100%;
}

@media screen and (max-width: 750px) {
    ul.navbar {
        float: none;
        margin: 0;
    }
    ul.navbar a {
        padding: 15px;
    }
    #logo {
        display: block;
        width: 100%;
        margin: 0px;
        padding: 5px 0 0 0;
    }
    #topbar {
        position: static;
    }
    #topwrapper {
        height: auto;
    }
    #logowrapper, #navbarwrapper {
        float: none;
        width: auto;
    }

    /*#logo, ul.navbar {
        display: block;
    }*/
}


/*@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}*/