/*#banner {
    padding-top: 60px;

}

#banner p {
    margin: 0px;
    font-size: 80px;
    text-align: center;
    color: #00b4ff;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
}*/

.contentpartition {
    height: 100%;
    float: left;
}

.leftcontent {
    width: 45%;
    background: #303030;
    background: -webkit-linear-gradient(left top, rgba(80,80,80,1) 0%, rgba(48,48,48,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(80,80,80,1) 0%, rgba(48,48,48,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(80,80,80,1) 0%, rgba(48,48,48,1) 100%);
    background: linear-gradient(to bottom right, rgba(80,80,80,1) 0%, rgba(48,48,48,1) 100%);
    border-right: 1px solid #ffffff;
}

.rightcontent {
    width: 55%;
    background: #00b4ff;
    background: -webkit-linear-gradient(left top, rgba(0,180,255,1) 0%, rgba(57,197,255,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(0,180,255,1) 0%, rgba(57,197,255,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(0,180,255,1) 0%, rgba(57,197,255,1) 100%);
    background: linear-gradient(to bottom right, rgba(0,180,255,1) 0%, rgba(57,197,255,1) 100%);
    
}


