#banner {
    padding-top: 60px;

}

#banner p {
    margin: 0px;
    font-size: 80px;
    text-align: center;
    color: #00b4ff;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
}