body {
    font-family: Verdana;
    background-color: #ffffff;
}

#topbar {
    position: fixed;
    top: 0;
    border-top: 1px solid #00b4ff;
    border-bottom: 1px solid #00b4ff;
    width: 100%;
    background-color: #565656;
}

#topbar a {
    text-decoration: none;
}

ul.navbar {
    list-style-type: none;
    text-align: center;
    margin: 0 30px 0 0;
    padding: 0;
    width: auto;
    float: right;
}

ul.navbar li {
    display: inline-block;
    text-align: center;
}

ul.navbar a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 23px 18px 22px 18px;
}

ul.navbar a:hover {
    background-color: #00b4ff;
}

#logo {
    float: left;
    text-align: center;
    font-size: 36px;
    text-shadow: -1px -1px #000000;
    color: #00b4ff;
    padding: 10px;
    width: auto;
    vertical-align: top;
    margin-left: 15px;
}

#banner {
    margin-top: 64px;
    padding-top: 80px;

}

#banner p {
    margin: 0px;
    font-size: 80px;
    text-align: center;
    color: #00b4ff;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
}

@media screen and (max-width: 700px) {
    ul.navbar a {
        float: none;
    }
    #logo {
        display: none;
    }
    /*#logo, ul.navbar {
        display: block;
    }*/
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}