/*#banner {
    padding-top: 60px;

}

#banner p {
    margin: 0px;
    font-size: 80px;
    text-align: center;
    color: #00b4ff;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
}*/

.content-partition {
    height: 100%;
    float: left;
}

#left-content {
    width: 45%;
    background: #9b9b9b;
    background: -webkit-linear-gradient(left top, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 100%);
    background: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(175,175,175,1) 100%);
    /*border-right: 1px solid #ffffff;*/
}

#right-content {
    width: 55%;
    background: #1188c3;
    background: -webkit-linear-gradient(left top, rgba(18,123,175,1) 0%, rgba(0,180,255,1) 100%);
    background: -o-linear-gradient(bottom right, rgba(18,123,175,1) 0%, rgba(0,180,255,1) 100%);
    background: -moz-linear-gradient(bottom right, rgba(18,123,175,1) 0%, rgba(0,180,255,1) 100%);
    background: linear-gradient(to bottom right, rgba(18,123,175,1) 0%, rgba(0,180,255,1) 100%);
    overflow: hidden;    
}

#profile-wrapper {
    height: 100%;
    color: #e2e2e2;
    font-size: 1.5em;
    padding: 25% 15%;
    line-height: 1.5em;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 750px) {
    .content-partition {
        width: 100%;
        height: 400px;
    }
}

.clear {
    clear:both
}


