<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Normalise.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="topwrapper">
        <div id="topbar">
            <div id="logowrapper">
                <a href="">
                    <div id="logo">
                        NAME LOGO
                    </div>
                </a>
            </div> 
            <div id="navbarwrapper">
                <ul class="navbar">
                    <li><a class="active" href="">Opt 1</a></li>
                    <li><a href="">Opt 2</a></li>
                    <li><a href="">Opt 3</a></li>
                    <li><a href="">Opt 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="contentwrapper">
        @RenderBody()
    </div>
</body>
</html>
