@{
    ViewBag.Title = "Home";
}

<div id="left-content" class="content-partition">
    <div id="stats-wrapper" class="table table-wrapper">
        <div class="table-cell">
            <div id="stats-header">
                <h2>Lorem Ipsum 1920, 1680</h2>
            </div>
        </div>
    </div>
</div>

<div id="right-content" class="content-partition">
    <div id="profile-wrapper" class="table table-wrapper">
        <div class="table-cell">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante orci, condimentum nec dui non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In felis quam, auctor ac accumsan vel, porta quis justo. Nullam vel.</p>
        </div>
    </div>
</div>


@*<div>
    asdfasdfasdfasdfasdfasdfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf
</div>*@






@*<div id="banner">
    <p>Banner Text</p>
</div>*@