@{
    ViewBag.Title = "Home";
}

<div class="container">
    <p>First Bootstrap Page (Container)</p>
    <p>This is some text.</p>
</div>

<div class="container-fluid">
    <h1>First Bootstrap Page (container-fluid)</h1>
    <p>Teeeeeeeeeeexxxxxxxxxxxxxxxxxxxxxxxxxxtttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</p>
</div>

